#work{
    margin: 0 auto;
    min-height: cal(100vh - 4rem);
    width: 100vw;
    max-width: 70rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.workstitle{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}
.works{
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 585px) {
    .works{
        flex-direction: column;
    }
    .card{
        max-height: fit-content;
    }
}