.intro {
    height: 90vh; /* Removed space between 4 and rem */
    width: 60vw;
    margin: 0 auto;
    max-width: 75rem; /* Removed space between 75 and rem */
    /* overflow: hidden; */
    position: relative;
}

.introContent {
    height: 50vh;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #f95959;
}
.introPara {
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
}
.intro {
    display: flex;
    align-items: center;
}

.hero-pic {
    position: relative;
    width: 310px; /* Set the desired width */
    height: 310px; /* Set the desired height */
    overflow: hidden;
    /* border-radius: 60%; Create a circular shape */
    }
  .hero-pic img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 17px;
  z-index: 1;
  }

  .circle-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  }


  @media screen and (max-width: 650px) {
    .intro {
        flex-direction: column;
        height: 80vh;
        
    }
    .introPara {
        max-width: 100%; /* Adjusted to take full width on smaller screens */
        font-weight: 600; /* Moved font-weight adjustment to general style */
    }
    .hero-pic {
        margin-top: 1rem; /* Added margin for better spacing */
    }
}

@media screen and (max-width: 800px) {
    .hero-pic {
        height: 200px;
        width: 200px;
        
    }

    .hero-pic img{
      top: 10px;
      left: 10px;
    }
}

@media screen and (max-width: 450px) {
  .introText{
    font-size: 35px;
  }
    .introPara {
      font-size: medium;
      font-weight: 600;
    }
}

/* Added "px" to the media query value to make it valid */
@media screen and (max-width: 1024px) {
    .intro {
        flex-direction: column-reverse;
    }
}